<p id="notice"><%= notice %></p>


 <% @halls.each do |hall| %>
 <div>
<table class="grid-item">

  <thead>

    <tr>
      <th><%= hall.title %></th>
    </tr>
  </thead>

  <tbody>
   
      <tr>
        <td>
        <a href="/halls/<%= hall.id %>">
        <%= image_tag hall.image.url(:thumb)%></a>
      </td>
      </tr>
  </tbody>

</table>

  <% end %>

<br>

</div>