<div class="edit">
<h1>Editing Comment</h1>

<%= form_for([@hall, @comment]) do |f|%>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div class="links">
<%= link_to 'Back', (hall_path (@hall)) %>
</div>
</div>