              <h4 class="card-title">
               <strong> <span><%= field.title %></span></strong>
              </h4>
              <span class="card-text" ><%= field.text %></span>
   
            <div>
            <% if user_signed_in? %>
            <% if @hall.user_id == current_user.id %>
            <%= link_to "Delete", hall_field_path(@hall, field.id), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
            
            </div>
            <br>
        



