              <h4 class="card-title">
               <strong> <span><%= field.title %></span></strong>
              </h4>
              <span class="card-text" ><%= field.text %></span>
   
            <div>
            <%= link_to "Delete", hall_field_path(@hall, field.id), method: :delete, data: { confirm: "Are you sure?" } %>
            </div>
            <br>
        



